.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
*.sqlite
build/
.DS_Store
dist/
conandbtransfers.spec
*.copy*
*.*bak
*.pre
transfer.log
transfers_audit.csv
ConanDBTransfer.spec
dist_bin/
*.csv
pybuild/

